@media(max-width:767px){
  body {
    background-size:150%;
  }
  .menu {
    background:rgba(24,122,191, 0.8);
    border:0;
  }
  .navbar-toggle {
    background:#ffffff;
    border-radius:0;
    border:0;
    border-bottom:5px solid $blueShadow;
    .icon-bar {
      background:$blueShadow;
    }
  }
  header {
    .logo {
      margin:15px 0;
      max-width:220px;
    }
  }

  #btnOpdrachtgever,
  #btnInstallateur {
    width:380px;
    max-width:330px;
  }
  #btnInstallateur {
    background-position:0 0;
    &:hover {
      background-position:-330px 0;
    }
  }
  #btnOpdrachtgever {
    margin-left:0;
    margin-top:30px;
    background-position:0 0;
    &:hover {
      background-position:-330px 0;
    }
  }
  .newsitem {
      h2, h4 {
        width:100% !important;
        float:left !important;
      }
      h4 {
        margin-top:6px;
      }
    .btn-default {
      width:100%;
    }
  }

  #contactformulier {
    button {
      width:100%;
    }
  }

  section.white.textTemp {
    .image {
      margin-bottom:15px;
    }
  }
  .initiatiefnemers {
    margin-top:0;
  }
  .initiatiefnemer {
    margin:15px 0 0 0;
  }

  footer {
    padding-top:15px;
    margin-top:30px;
    overflow-x:hidden;
    .about {
      h4 {
        font-size:30px;
      }
      a.read {
        color:$blue;
        &:after {
          color:$blue;
        }
      }
    }
    .contact {
      h4 {
        font-family: $font-family-title;
        font-size:30px;
        text-transform:uppercase;
      }
      p {
        font-size:inherit;
      }
    }
    &:before {
      top:-30px;
    }
  }
}