header .logo {
  margin: 40px 0 70px 0;
  float: left; }

footer {
  color: white;
  position: relative;
  width: 100%;
  background: #034877;
  min-height: 220px;
  margin-top: 135px; }
  footer:before {
    content: "";
    position: absolute;
    top: -70px;
    left: -50px;
    background: #034877;
    width: 120%;
    height: 130px;
    transform: rotate(-3deg); }
  footer .container {
    position: relative; }
    footer .container .building {
      background: url(/images/building.png) no-repeat;
      position: absolute;
      z-index: -1;
      top: -260px;
      left: 0;
      margin: 0 auto;
      display: block;
      width: 428px;
      height: 246px; }
  footer .about {
    position: relative;
    padding-top: 10px;
    z-index: 1; }
    footer .about h4 {
      font-size: 22px;
      margin: 0;
      padding: 0 0 15px 0; }
    footer .about a.read {
      margin-top: 20px;
      color: white; }
      footer .about a.read:after {
        color: white; }
      footer .about a.read:hover, footer .about a.read:focus {
        color: #187abf; }
        footer .about a.read:hover:after, footer .about a.read:focus:after {
          color: #187abf; }
  footer .contact h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 7px;
    text-transform: inherit; }
  footer .contact p {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px; }
  footer .contact a {
    color: #ffffff; }

.menu {
  background: #187abf;
  border: 3px solid #1472b3; }
  .menu nav.navbar {
    margin-bottom: 0; }
    .menu nav.navbar #navbar {
      padding: 0; }
      .menu nav.navbar #navbar .nav {
        margin: 0 15px; }
        .menu nav.navbar #navbar .nav li {
          width: 100%;
          display: block;
          float: left;
          border-bottom: 1px solid #1472b3; }
          .menu nav.navbar #navbar .nav li:last-child {
            border-bottom: 0; }
          .menu nav.navbar #navbar .nav li a {
            color: #ffffff;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            text-transform: uppercase;
            font-family: "DIN_1451 W01 Engschrift";
            font-size: 20px; }
            .menu nav.navbar #navbar .nav li a:hover, .menu nav.navbar #navbar .nav li a:focus {
              background: transparent;
              color: #034877; }
          .menu nav.navbar #navbar .nav li.active a {
            color: #034877; }

html,
body {
  overflow-x: hidden; }

body {
  background: #f2f2f2 url(/images/header.jpg) no-repeat top center;
  color: #2b2b2b;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  line-height: 26px; }

h1, h2, h3, h4, h5 {
  font-family: "DIN_1451 W01 Engschrift";
  text-transform: uppercase; }

h1, h2 {
  font-size: 27px; }

h1, h2 {
  margin: 0;
  padding: 0 0 30px 0; }
  h1 span, h2 span {
    color: #187abf; }

a {
  color: #034877;
  outline: 0; }
  a:hover, a:focus {
    outline: 0; }

a.read {
  color: #034877;
  font-weight: bold;
  position: relative;
  padding-right: 30px; }
  a.read:after {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 18px;
    color: #034877; }
  a.read:hover, a.read:focus {
    text-decoration: none;
    color: #187abf; }
    a.read:hover:after, a.read:focus:after {
      color: #187abf; }

.btn-default {
  background: #187abf;
  color: white;
  border: 0;
  font-family: "DIN_1451 W01 Engschrift";
  font-size: 20px;
  border-bottom: 5px solid #034877;
  border-radius: 0;
  padding: 13px 15px 11px 15px;
  text-transform: uppercase; }
  .btn-default:hover, .btn-default:focus {
    background: #034877;
    color: white;
    border-bottom: 5px solid #012c4a;
    outline: 0; }

.button {
  width: 100%;
  position: relative;
  display: block;
  height: 243px;
  float: left;
  margin-bottom: 22px; }
  .button span.name,
  .button span.ikben {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: "DIN_1451 W01 Engschrift";
    text-decoration: none; }
    .button span.name:hover,
    .button span.ikben:hover {
      text-decoration: none; }
  .button span.ikben {
    color: #034877;
    font-size: 20px;
    padding: 10px 5px 20px 5px; }
  .button span.name {
    color: #fff;
    font-size: 24px;
    padding: 6px 5px;
    position: relative; }
    .button span.name:after {
      content: "";
      width: 40px;
      height: 1px;
      background: #187abf;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto; }
    .button span.name:last-child:after {
      height: 0; }
  .button .click {
    background: #187abf;
    color: #ffffff;
    font-family: "DIN_1451 W01 Engschrift";
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: -22px;
    padding: 10px 15px 8px 15px;
    margin: 8px auto 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 140px;
    text-transform: uppercase;
    border-bottom: 5px solid #034877; }
    .button .click i {
      margin-left: 10px;
      color: #034877; }
  .button:hover {
    text-decoration: none; }
    .button:hover .click {
      background: #034877;
      border-bottom: 5px solid #012c4a;
      color: #187abf; }
      .button:hover .click i {
        color: #187abf; }

#btnOpdrachtgever {
  background: url(/images/btnOpdrachtgever.jpg) no-repeat 0 0;
  width: 330px;
  max-width: 330px;
  max-height: 243px;
  margin-left: 30px; }
  #btnOpdrachtgever:hover {
    background: url(/images/btnOpdrachtgever.jpg) no-repeat -330px 0; }

#btnInstallateur {
  background: url(/images/btnInstallateur.jpg) no-repeat 0 0;
  width: 330px;
  max-width: 330px;
  max-height: 243px; }
  #btnInstallateur:hover {
    background: url(/images/btnInstallateur.jpg) no-repeat -330px 0; }

.mainContent {
  min-height: 820px; }

.title {
  background: rgba(0, 0, 0, 0.8);
  display: block;
  float: left;
  width: 100%;
  padding: 30px;
  position: relative;
  font-family: "DIN_1451 W01 Engschrift";
  text-transform: uppercase; }
  .title .pagetitle {
    color: #187abf;
    float: left;
    font-size: 20px;
    position: relative;
    margin: 0 18px 0 0;
    padding: 0; }
  .title .subtitle {
    color: white;
    float: left;
    font-size: 20px;
    position: relative;
    padding: 0 0 0 20px;
    margin: 0; }
    .title .subtitle:before {
      content: "/";
      position: absolute;
      left: 0;
      top: 0; }
  .title:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 45px;
    width: 0;
    height: 0;
    border-top: solid 20px rgba(0, 0, 0, 0.8);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent; }

section.white {
  background: #fff;
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 30px; }
  section.white.textTemp h1, section.white.textTemp h2 {
    color: #187abf; }
  section.white.textTemp h1 {
    padding: 0; }
  section.white.textTemp h2 {
    padding: 10px 0 0 0; }
  section.white.textTemp p {
    margin-bottom: 24px; }
    section.white.textTemp p:last-child {
      margin-bottom: 0; }
  section.white.textTemp a {
    color: #187abf; }
  section.white.textTemp .image {
    padding: 2px;
    border: 1px solid #187abf;
    margin-bottom: 30px; }

/* NIEUWS */
.newsItem .image {
  padding: 2px;
  border: 1px solid #187abf; }

.newsItem .item h3 {
  font-size: 22px;
  color: #034877;
  margin-bottom: 0; }

.newsItem .item p {
  margin-bottom: 0; }

.listNews {
  margin-top: 15px;
  float: left;
  width: 100%; }
  .listNews ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .listNews ul li {
      padding: 8px 0;
      border-bottom: 1px solid #dfe0e0; }
      .listNews ul li a {
        padding-left: 24px;
        color: #a9a9a9;
        position: relative; }
        .listNews ul li a:before {
          content: "\f178";
          font-family: FontAwesome;
          position: absolute;
          left: 0;
          top: -1px;
          font-size: 14px;
          color: #dfe0e0; }
        .listNews ul li a:hover, .listNews ul li a:focus {
          text-decoration: none;
          color: #187abf; }
          .listNews ul li a:hover:before, .listNews ul li a:focus:before {
            color: #187abf; }
      .listNews ul li:last-child {
        border-bottom: 0;
        padding: 8px 0 0 0; }

.newsletter {
  margin-top: 30px;
  width: 100%;
  float: left; }
  .newsletter h2 {
    font-family: 'Lobster Two', cursive;
    text-transform: inherit;
    color: #187abf;
    margin: 0 0 15px 0;
    padding: 0 100px 0 0;
    font-weight: normal;
    position: relative;
    display: inline-block; }
    .newsletter h2 span {
      color: black; }
    .newsletter h2:after {
      content: "";
      background-image: url(/images/arrow.png);
      position: absolute;
      right: 0;
      top: 15px;
      width: 78px;
      height: 50px; }
  .newsletter .newsletterForm {
    padding: 20px;
    background: #fff;
    width: 100%;
    float: left; }
    .newsletter .newsletterForm .btn-default {
      width: 100%;
      text-align: center; }

.form-group .form-control {
  background: #f2f2f2;
  border: 0;
  border-radius: 0;
  height: 50px;
  box-shadow: none;
  font-weight: normal; }

.form-group textarea.form-control {
  resize: none;
  height: 150px; }

.initiatiefnemers {
  margin-top: 15px;
  width: 100%;
  float: left; }

.initiatiefnemer {
  cursor: pointer;
  height: 182px;
  float: left;
  margin: 15px 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: table; }
  .initiatiefnemer a.box {
    background: #fff;
    height: 100%;
    padding: 15px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative; }
    .initiatiefnemer a.box img {
      max-width: 100%; }
    .initiatiefnemer a.box span {
      position: absolute;
      bottom: -46px;
      left: 0;
      color: #034877;
      font-family: "DIN_1451 W01 Engschrift";
      font-size: 18px;
      text-transform: uppercase;
      height: 44px;
      display: block;
      width: 100%;
      padding: 10px 10px 8px 10px;
      background: #187abf;
      transition: all 100ms ease-out; }
      .initiatiefnemer a.box span i {
        font-size: 15px;
        margin-left: 3px; }
    .initiatiefnemer a.box:hover span {
      bottom: 0; }

#contactformulier h2 {
  color: #187abf;
  padding: 0 0 8px 0; }

#contactformulier .form-control {
  font-weight: normal; }

#contactformulier button {
  padding: 15px 30px 12px 30px; }
  #contactformulier button i {
    font-size: 20px;
    margin-left: 8px; }

.newsitem h2 {
  margin: 0;
  padding: 0;
  float: left;
  color: #187abf; }

.newsitem h4 {
  float: right;
  color: #a9a9a9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 4px; }

.newsitem p {
  width: 100%;
  float: left; }

.newsitem .btn-default {
  padding: 10px 30px 8px 30px;
  margin: 10px 0 0 0;
  float: right; }

#newsDetail .back {
  float: left;
  width: 100%;
  margin-bottom: 25px; }
  #newsDetail .back a {
    float: left; }
    #newsDetail .back a:hover, #newsDetail .back a:focus {
      text-decoration: none;
      color: #187abf; }

#newsDetail h1 {
  float: left;
  padding: 0;
  color: #187abf; }

#newsDetail h4 {
  float: right;
  color: #a9a9a9;
  margin-bottom: 0;
  margin-top: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

#newsDetail p {
  float: left;
  width: 100%;
  margin-bottom: 24px; }
  #newsDetail p:last-child {
    margin-bottom: 0; }

#newsDetail .image {
  padding: 2px;
  border: 1px solid #187abf;
  float: left;
  width: 100%;
  margin-bottom: 30px; }

.faq h3 {
  font-size: 21px;
  margin-top: 30px; }

.faq .panel-group .panel {
  background: white;
  border-color: #187abf;
  border-radius: 0; }
  .faq .panel-group .panel .panel-heading {
    background: white; }
  .faq .panel-group .panel .panel-body p, .faq .panel-group .panel .panel-body ul, .faq .panel-group .panel .panel-body ol {
    margin-bottom: 17px; }
    .faq .panel-group .panel .panel-body p:last-child, .faq .panel-group .panel .panel-body ul:last-child, .faq .panel-group .panel .panel-body ol:last-child {
      margin: 0; }
  .faq .panel-group .panel .panel-body ul {
    padding-left: 17px; }

.faq h4.panel-title {
  font-size: 14px;
  text-transform: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }
  .faq h4.panel-title a {
    color: #034877;
    position: relative;
    width: 100%;
    display: block; }
    .faq h4.panel-title a i {
      position: absolute;
      right: -5px;
      top: 2px;
      width: 11px;
      height: 11px; }
    .faq h4.panel-title a:hover, .faq h4.panel-title a:focus {
      text-decoration: none;
      color: #034877; }

.form-control::-webkit-input-placeholder {
  color: #187abf !important; }

.form-control:focus::-webkit-input-placeholder {
  color: #333 !important; }

.form-control:-moz-placeholder {
  color: #187abf !important;
  opacity: 1; }

.form-control:focus:-moz-placeholder {
  color: #333 !important;
  opacity: 1; }

.form-control::-moz-placeholder {
  color: #187abf !important;
  opacity: 1; }

.form-control:focus::-moz-placeholder {
  color: #333 !important;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #187abf !important; }

.form-control:focus:-ms-input-placeholder {
  color: #333 !important; }

@media (max-width: 1199px) {
  body {
    background-size: 140%; }
  h1, h2 {
    font-size: 24px; }
  .btn-default {
    padding: 10px 15px 8px 15px; }
  .newsletter h2 {
    font-size: 22px; }
  #btnOpdrachtgever,
  #btnInstallateur {
    width: 270px;
    max-width: 270px;
    background-position: -50px 0; }
  #btnInstallateur:hover {
    background-position: -380px 0; }
  #btnOpdrachtgever {
    margin-left: 15px; }
  .newsItem .item h3 {
    font-size: 20px; } }

@media (max-width: 991px) {
  body {
    background-size: 140%; }
  .title {
    padding: 15px; }
  section.white {
    padding: 15px; }
  .newsletter h2 {
    padding: 0; }
    .newsletter h2:after {
      background-image: none; }
  .newsletter .newsletterForm {
    padding: 10px; }
  #btnOpdrachtgever,
  #btnInstallateur {
    width: 210px;
    max-width: 100%; }
  #btnOpdrachtgever {
    margin-left: 20px;
    background-position: -100px 0; }
    #btnOpdrachtgever:hover {
      background-position: -430px 0; }
  .form-group {
    margin-bottom: 10px; }
    .form-group .form-control {
      height: 44px;
      font-weight: normal; } }

@media (max-width: 767px) {
  body {
    background-size: 150%; }
  .menu {
    background: rgba(24, 122, 191, 0.8);
    border: 0; }
  .navbar-toggle {
    background: #ffffff;
    border-radius: 0;
    border: 0;
    border-bottom: 5px solid #034877; }
    .navbar-toggle .icon-bar {
      background: #034877; }
  header .logo {
    margin: 15px 0;
    max-width: 220px; }
  #btnOpdrachtgever,
  #btnInstallateur {
    width: 380px;
    max-width: 330px; }
  #btnInstallateur {
    background-position: 0 0; }
    #btnInstallateur:hover {
      background-position: -330px 0; }
  #btnOpdrachtgever {
    margin-left: 0;
    margin-top: 30px;
    background-position: 0 0; }
    #btnOpdrachtgever:hover {
      background-position: -330px 0; }
  .newsitem h2, .newsitem h4 {
    width: 100% !important;
    float: left !important; }
  .newsitem h4 {
    margin-top: 6px; }
  .newsitem .btn-default {
    width: 100%; }
  #contactformulier button {
    width: 100%; }
  section.white.textTemp .image {
    margin-bottom: 15px; }
  .initiatiefnemers {
    margin-top: 0; }
  .initiatiefnemer {
    margin: 15px 0 0 0; }
  footer {
    padding-top: 15px;
    margin-top: 30px;
    overflow-x: hidden; }
    footer .about h4 {
      font-size: 30px; }
    footer .about a.read {
      color: #187abf; }
      footer .about a.read:after {
        color: #187abf; }
    footer .contact h4 {
      font-family: "DIN_1451 W01 Engschrift";
      font-size: 30px;
      text-transform: uppercase; }
    footer .contact p {
      font-size: inherit; }
    footer:before {
      top: -30px; } }

/*# sourceMappingURL=app.css.map */
