.menu {
  background:$blue;
  border:3px solid $blueBorder;
  nav.navbar {
    margin-bottom:0;
    #navbar {
      padding:0;
      .nav {
        margin:0 15px;
        li {
          width:100%;
          display:block;
          float:left;
          border-bottom:1px solid $blueBorder;

          &:last-child {
            border-bottom:0;
          }
          a {
            color:#ffffff;
            width:100%;
            padding-left:0;
            padding-right:0;
            text-transform:uppercase;
            font-family: $font-family-title;
            font-size:20px;
            &:hover,
            &:focus {
              background:transparent;
              color:$blueShadow;
            }
          }
        }
      }
    }
  }
}