html,
body {
  overflow-x: hidden;
}
body {
  background: #f2f2f2 url(/images/header.jpg) no-repeat top center;
  color: #2b2b2b;
  font-family: $font-family-base;
  overflow-x: hidden;
  line-height: 26px;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-title;
  text-transform: uppercase;
}

h1, h2 {
  font-size: 27px;
}

h1, h2 {
  margin: 0;
  padding: 0 0 30px 0;
  span {
    color: $blue;
  }
}

// BUTTONS

a {
  color: $blueShadow;
  outline:0;
  &:hover,
  &:focus {
    outline:0;
  }
}

a.read {
  color: $blueShadow;
  font-weight: bold;
  position: relative;
  padding-right: 30px;
  &:after {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 18px;
    color: $blueShadow;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: $blue;
    &:after {
      color: $blue;
    }
  }
}

.btn-default {
  background: $blue;
  color: white;
  border: 0;
  font-family: $font-family-title;
  font-size: 20px;
  border-bottom: 5px solid $blueShadow;
  border-radius: 0;
  padding: 13px 15px 11px 15px;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background: $blueShadow;
    color: white;
    border-bottom: 5px solid #012c4a;
    outline:0;
  }
}

.btn-certified {
  background: #ed9e15;
  color: white;
  border: 0;
  width:100%;
  font-family: $font-family-title;
  font-size: 20px;
  border-bottom: 5px solid #cc850a;
  border-radius: 0;
  padding: 19px 15px 17px 30px;
  text-transform: uppercase;
  font-weight:500;
  &:before {
    content:"";
    width:53px;
    height:78px;
    position:absolute;
    left:22px;
    top:11px;
    background:url('/images/certified.png') no-repeat;
  }
  &:hover,
  &:focus {
    background: #cc850a;
    color: white;
    border-bottom: 5px solid #af7208;
    outline:0;
  }
}

.button {
  width: 100%;
  position: relative;
  display: block;
  height: 243px;
  float:left;
  margin-bottom:22px;
  span.name,
  span.ikben {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-family-title;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  span.ikben {
    color: $blueShadow;
    font-size: 20px;
    padding: 10px 5px 20px 5px;
  }
  span.name {
    color: #fff;
    font-size: 24px;
    padding: 6px 5px;
    position:relative;
    &:after {
      content:"";
      width:40px;
      height:1px;
      background:$blue;
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      margin:0 auto;
    }
    &:last-child {
      &:after {
        height:0;
      }
    }
  }
  .click {
    background:$blue;
    color:#ffffff;
    font-family: $font-family-title;
    font-size:20px;
    display:block;
    position:absolute;
    bottom:-22px;
    padding:10px 15px 8px 15px;
    margin:8px auto 0 auto;
    left:0;
    right:0;
    text-align:center;
    width:140px;
    text-transform:uppercase;
    border-bottom:5px solid $blueShadow;
    i {
      margin-left:10px;
      color:$blueShadow;
    }
  }
  &:hover {
    text-decoration: none;
    .click {
      background:$blueShadow;
      border-bottom:5px solid #012c4a;
      color:$blue;
      i {
        color:$blue;
      }
    }
  }
}

#btnOpdrachtgever {
  background: url(/images/btnOpdrachtgever.jpg) no-repeat 0 0;
  /*width: 330px;*/
  width:100%;
  max-width: 330px;
  max-height: 243px;
  /*margin-left:30px;*/
  &:hover {
    background: url(/images/btnOpdrachtgever.jpg) no-repeat -330px 0;
  }
}
#btnInstallateur {
  background: url(/images/btnInstallateur.jpg) no-repeat 0 0;
  /*width: 330px;*/
  width:100%;
  max-width: 330px;
  max-height: 243px;
  &:hover {
    background: url(/images/btnInstallateur.jpg) no-repeat -330px 0;
  }
}

// TITLE

.mainContent {
  min-height:820px;
}

.title {
  background: rgba(0, 0, 0, 0.8);
  display: block;
  float: left;
  width: 100%;
  padding: 30px;
  position: relative;
  font-family: $font-family-title;
  text-transform: uppercase;
  .pagetitle {
    color: $blue;
    float: left;
    font-size: 20px;
    position: relative;
    margin: 0 18px 0 0;
    padding: 0;
  }
  .subtitle {
    color: white;
    float: left;
    font-size: 20px;
    position: relative;
    padding: 0 0 0 20px;
    margin: 0;
    &:before {
      content: "/";
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 45px;
    width: 0;
    height: 0;
    border-top: solid 20px rgba(0, 0, 0, 0.8);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
  }
}

// SECTION

section.white {
  background: #fff;
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  &.textTemp {
    h1, h2 {
      color:$blue;
    }
    h1 {
      padding:0;
    }
    h2 {
      padding:10px 0 0 0;
    }
    p {
      margin-bottom:24px;
      &:last-child {
        margin-bottom:0;
      }
    }
    a {
      color:$blue;
    }
    .image {
      padding: 2px;
      border: 1px solid $blue;
      margin-bottom:30px;
    }
  }
}

// HOME

/* NIEUWS */
.newsItem {
  .image {
    padding: 2px;
    border: 1px solid $blue;
  }
  .item {
    h3 {
      font-size: 22px;
      color: $blueShadow;
      margin-bottom:0;
    }
    p {
      margin-bottom:0;
    }
  }
}

.listNews {
  margin-top: 15px;
  float: left;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 8px 0;
      border-bottom: 1px solid #dfe0e0;
      a {
        padding-left: 24px;
        color: $grayLight;
        position: relative;
        &:before {
          content: "\f178";
          font-family: FontAwesome;
          position: absolute;
          left: 0;
          top: -1px;
          font-size: 14px;
          color: #dfe0e0;
        }
        &:hover,
        &:focus {
          text-decoration: none;
          color: $blue;
          &:before {
            color: $blue;
          }
        }
      }
      &:last-child {
        border-bottom: 0;
        padding: 8px 0 0 0;
      }
    }
  }
}

// NEWSLETTER

.newsletter {
  margin-top: 30px;
  width: 100%;
  float: left;
  h2 {
    font-family: 'Lobster Two', cursive;
    text-transform: inherit;
    color: $blue;
    margin: 0 0 15px 0;
    padding: 0 100px 0 0;
    font-weight: normal;
    position: relative;
    display: inline-block;

    span {
      color:black;
    }

    &:after {
      content: "";
      background-image: url(/images/arrow.png);
      position: absolute;
      right: 0;
      top: 15px;
      width: 78px;
      height: 50px;
    }
  }
  .newsletterForm {
    padding: 20px;
    background: #fff;
    width: 100%;
    float: left;
    .btn-default {
      width: 100%;
      text-align: center;
    }
  }
}

// FORMS
.form-group {
  .form-control {
    background: $grayLighter;
    border: 0;
    border-radius: 0;
    height: 50px;
    box-shadow: none;
    font-weight: normal;
  }
  textarea.form-control {
    resize:none;
    height:150px;
  }
}

// INITIATIEFNEMERS

.initiatiefnemers {
  margin-top:15px;
  width:100%;
  float:left;
}
.initiatiefnemer {
  cursor: pointer;
  float: left;
  margin: 15px 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  display:block;
  a {
    &.box {
      background:#fff;
      height:100%;
      padding:15px;
      display:block;
      margin:0 auto;
      text-align: center;
      vertical-align:middle;
      position:relative;
      width:100%;
      img.img-responsive {
        max-width:100% !important;
      }
      span {
        position:absolute;
        bottom:-46px;
        left:0;
        color:$blueShadow;
        font-family: $font-family-title;
        font-size:18px;
        text-transform: uppercase;
        height:44px;
        display:block;
        width:100%;
        padding:10px 10px 8px 10px;
        background:rgba(24,122,191,1);
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
        i {
          font-size:15px;
          margin-left:3px;
        }
      }
      &:hover {
        span {
          bottom:0;

        }
      }
    }
  }
}

#contactformulier {
  h2 {
    color:$blue;
    padding:0 0 8px 0;
  }
  .form-control {
    font-weight:normal;
  }
  button {
    padding:15px 30px 12px 30px;
    i {
      font-size:20px;
      margin-left:8px;
    }
  }
}

// NIEUWS

.newsitem {
  h2 {
    margin:0;
    padding:0;
    float:left;
    color:$blue;
  }
  h4 {
    float:right;
    color:$grayLight;
    font-family: $font-family-base;
    font-size:14px;
    margin-top:4px;
  }
  p {
    width:100%;
    float:left;
  }
  .btn-default {
    padding:10px 30px 8px 30px;
    margin:10px 0 0 0;
    float:right;
  }
}
#newsDetail {
  .back {
    float:left;
    width:100%;
    margin-bottom:25px;
    a {
      float:left;
      &:hover,
      &:focus {
        text-decoration:none;
        color:$blue;
      }
    }
  }
  h1 {
    float:left;
    padding:0;
    color:$blue;
    display:block;
    width:100%;
  }
  h4 {
    float:right;
    color:$grayLight;
    margin-bottom:0;
    margin-top:6px;
    font-family: $font-family-base;
    font-size:14px;
  }
  p {
    float:left;
    width:100%;
    margin-bottom:24px;
    &:last-child {
      margin-bottom:0;
    }
  }
  .image {
    padding: 2px;
    border: 1px solid $blue;
    float:left;
    width:100%;
    margin-bottom:30px;
  }
}

// GECERTIFICEERDE ORGANISATIES

.certified {
  margin-top:15px;
  width:100%;
  float:left;
  position:relative;
}

#table-certified {
  tr {
    th {
      font-family: $font-family-title;
      text-transform:uppercase;
      font-size:20px;
      font-weight:500;
      background:white;
      border:0;
      &:last-child {
        padding-left:0px;
      }
    }
    td {
      position:relative;
      border:0;
      padding:12px 8px;
      &:last-child {
        padding-left:22px;
        width:170px;

        a {
          margin-left:7px;
        }
        &:before {
          content:"\f00c";
          font-family: FontAwesome;
          position:absolute;
          left:0;
          top:10px;
          font-size:16px;
          color:#1bc486;
        }
      }
    }
  }
}

// VEELGESTELDE VRAGEN

.faq {
    h3 {
      font-size:21px;
      margin-top:30px;
    }
    .panel-group {
      .panel {
        background:white;
        border-color:$blue;
        border-radius:0;
        .panel-heading {
          background:white;
        }
        .panel-body {
          p, ul, ol {
            margin-bottom:17px;
            &:last-child {
              margin:0;
            }
          }
          ul {
            padding-left:17px;
          }
        }
      }
    }
    h4.panel-title {
      font-size:14px;
      text-transform:inherit;
      font-family: $font-family-base;
      font-weight:normal;
      a {
        color:$blueShadow;
        position:relative;
        width:100%;
        display:block;
        i {
          position:absolute;
          right:-5px;
          top:2px;
          width:11px;
          height:11px;
        }
        &:hover,
        &:focus {
          text-decoration:none;
          color:$blueShadow;
        }
      }

    }
}


.form-control::-webkit-input-placeholder {
  color: $blue !important;
}

.form-control:focus::-webkit-input-placeholder {
  color: #333 !important;
}

.form-control:-moz-placeholder {
  color: $blue !important;
  opacity: 1;
}

.form-control:focus:-moz-placeholder {
  color: #333 !important;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: $blue !important;
  opacity: 1;
}

.form-control:focus::-moz-placeholder {
  color: #333 !important;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: $blue !important;
}

.form-control:focus:-ms-input-placeholder {
  color: #333 !important;
}
#valbeveiliging {
  h1, h2 {
    text-align:center;
  }
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top:1px;
  margin-bottom:30px;
  height: 0;
  background:white;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:white;
}