$blue:              #187abf;
$blueShadow:        #034877;
$blueBorder:        #1472b3;

$grayLight:         #a9a9a9;
$grayLighter:       #f2f2f2;

$font-family-title:  'DIN_1451 W01 Engschrift';
$font-family-base:    'Open Sans', sans-serif;